@import './main';

.footer {
  a:hover {
    color: $branding-main;
  }

  &__copyright {
    > p {
      a {
        color: $white;
        text-decoration: underline;

        &:hover {
          color: $branding-main;
          text-decoration: none;
        }
      }
    }
  }
}
