/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

body {
  /* background: ; */
  /* background-repeat: no-repeat; */
}

pre,
code {
  font-weight: 400;
  font-variant-ligatures: none;
}

a:not(.card):not(.menu__link):not(.navbar__item):not(.button):not(
    .table-of-contents__link
  ):not(.navbar__brand):not(.pagination-nav__link):not(.breadcrumbs__link) {
  text-decoration: underline;
}

a.table-of-contents__link--active {
  text-decoration: underline;
}

.menu__link {
  text-transform: capitalize;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #cf1943;
  --ifm-color-primary-dark: #ba173c;
  --ifm-color-primary-darker: #b01539;
  --ifm-color-primary-darkest: #91112f;
  --ifm-color-primary-light: #e41c4a;
  --ifm-color-primary-lighter: #e52652;
  --ifm-color-primary-lightest: #e9456b;

  --ifm-font-family-monospace: "Overpass Mono", monospace;
  --ifm-font-family-base: "Overpass", sans-serif;
  --ifm-heading-font-family: "Urbanist", sans-serif;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-heading-color: #292827;

  --brand-color-accent: #2f052a;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary: #ffffff;
  --ifm-color-primary-dark: #e6e6e6;
  --ifm-color-primary-darker: #d9d9d9;
  --ifm-color-primary-darkest: #b3b3b3;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-heading-color: #fff;

  --brand-color-accent: #fff;
}

.navbar__items {
  gap: 0.25rem;
}

.navbar__link {
  border-radius: 0.25rem;
}

.navbar__link--active {
  background-color: var(--ifm-menu-color-background-active);
}

.navbar__link:hover {
  background-color: var(--ifm-menu-color-background-hover);
}

/* Make logo smaller on mobile so it fits with the search */
@media screen and (max-width: 380px) {
  .navbar__logo > img {
    width: 120px;
  }
}
@media screen and (max-width: 340px) {
  .navbar__logo > img {
    width: 100px;
  }
}

.pagination-nav {
  margin-bottom: 3rem;
}

.button--primary {
  background-color: var(--brand-core-yellow);
  border: none;
  color: #111;
  transition: box-shadow;
  transition-duration: 0.1s;
}
.button--primary:hover {
  color: #111;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.button--primary:active {
  background-color: #d0c71f;
  box-shadow: none;
}

.hero {
  background: transparent;
}

/* Utility classes */
.fit-content {
  max-width: fit-content;
}

.search-icon {
  display: none;
}

.markdown img {
  background: #fff;
}
